@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

:root {
	font-family: 'Mulish', sans-serif;

	--text-color: black;
	--bg-color: #d0dbdb;
	--header-color: #f0fcfc;
	--footer-color: #f0fcfc;
	--a-hover-color: #f58cea;
	--a-active-color: lime;

	color: var(--text-color);
	background-color: var(--bg-color);
}

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

* {
	box-sizing: border-box;
}

header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--header-color);
}

header a {
	color: var(--text-color);
	text-decoration: none;
}

:is(header a, .heading) {
	transition: color 150ms ease-in-out;
}

header h1 {
	padding: 1rem;
	font-size: 1.5rem;
	font-weight: bold;
}

header ul {
	list-style-type: none;
	display: flex;
}

header li {
	cursor: pointer;
}

header li a {
	padding: 1rem;
}

header :is(li:hover a:not(.active), .heading:hover) {
	color: #f58cea;
}

header nav a.active {
	color: var(--a-active-color);
}

.content {
	padding: 1rem;

	display: grid;

	gap: 1rem 2rem;

	grid-template-areas: 
		"heading heading"
		"description img";
	
	place-content: center;

	grid-template-columns: 50ch 30%;
	grid-template-rows: auto 1fr;
}

.content :is(h1, h2) {
	margin: 1rem 0;
	grid-area: heading;
}

.content.description {
	grid-area: description;
}

.content p:not(:last-child) {
	margin-bottom: 0.5rem;
}

.content p:not(:first-child) {
	margin-top: 0.5rem;
}

.content ul {
	list-style-type: disc;
	padding-left: 1.25rem;

	display: flex;
	gap: 0.25rem;
	flex-direction: column;
}

.content img {
	grid-area: img;
	width: 100%;
	border-radius: 1rem;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.25rem;
}

footer {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;

	padding: 1rem;
	margin-top: auto;
	width: 100%;
	background-color: var(--footer-color);
}

footer a {
	color: var(--text-color);
	text-decoration: none;
	transition: opacity 300ms ease-in-out;
}

footer a:hover {
	opacity: 0.7;
}
